 <!-- Main content-->
    
 <div class="container">
    <div class="row">
      <div class="col-md-12 money-image">
        <div class="article mt-5">
          <h1>The Value of Money</h1>
          <figure>
            <img src="img/value-of-money.jpg" alt="value of money" class="img-fluid"> 
            <figcaption>The Value of Money</figcaption>
         </figure>
          <!-- <img src="./img/value-of-money.jpg" alt="value of money" class="img-fluid">-->

          <p>The fundamental tenet of the value of money is that money acquired earlier is preferable to money earned later. </p>
  
          <p>Money's time value has a wide range of applications in modern life. It is applicable to a number of personal choices, including as saving and retirement planning. </p>
  
          <p>Corporate investment decisions are made with consideration for the time value of money. A dollar earned today is more valuable than a dollar earned tomorrow, because the dollar gained today can be invested to produce interest. 
          </p>
        </div>
      </div>
    </div>
    <hr>
    <!-- article 2-->
    
    <div class="row">
      <div class="col-md-12 money-image">
        <div class="article mt-5">
          <h1>GMO food</h1>
          <figure>
            <img src="img/gmo.jpg" alt="gmo" class="img-fluid"> 
            <figcaption>GMO food</figcaption>
         </figure>

          <!-- <img src="/img/gmo.jpg" class="img-fluid"> -->
          <p>Genetically modified foods are created by selecting target genes associated with desirable characteristics in certain organisms and inserting them into the nucleus DNA of other species in need of improvement, thereby modifying the DNA sequences of the original species and transforming their genetic material to achieve desired traits, nutritional quality, and consumer quality, such as high yield, pest resistance, and nutrient richness.</p>
  
          <p>Once these symptoms are conveyed, the target organism develops a genetic code that can be passed down for generations. Genetically modified foods fall into three categories: genetically modified microbial-derived foods, genetically modified plant-derived foods, and genetically modified animal-derived foods, with genetically modified plant-derived foods being the most prevalent.
        </p>
        </div>
      </div>
    </div>
    <hr>
    
     <!-- article 3-->
    
    <div class="row">
      <div class="col-md-12 money-image">
        <div class="article mt-5">
          <h1>The View of World in 2100</h1>
         <!--<img src="/img/city.jpg" class="img-fluid">--> 
          <figure>
            <img src="img/city.jpg" alt="city" class="img-fluid"> 
            <figcaption>The View of World in 2100</figcaption>

          <p>With the world's population expected to surpass seven billion people this weekend, it may be time to begin planning for the world's future appearance.</p>
          <p>Though the most of us will not live to see it, the United Nations has forecast that our amazing population increase would slow to roughly 10 billion people by 2100.</p> 
  
          <p>In 2100, the planet will be warmer, with more intense weather and natural calamities like storms and wildfires. How scorching will it be? It is impossible to say at the moment, as it will rely on our actions during the next 80 years.</p> 
  
          <p>There are other scenarios, ranging from a 1.5oC increase in global temperature to a 5oC increase by 2100. While there is a significant gap between these two extremes, it is worth noting that even if we completely eliminate carbon emissions today, the globe will continue to warm for decades due to the excess CO2 already in the atmosphere.
          </p>
        </div>
      </div>
    </div>
    <hr>
    
    
