<div class="container">
    <div class="row padding">
        <div class="col-12 portfolio-text">
            <h1 class="display-4">Portfolio</h1>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <img class="card-img-top" src="img/economics.jpg">
                <div class="card-body">
                <h1>Economics </h1>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <img class="card-img-top" src="img/word-development.jpg">
                <div class="card-body">
                <h1>World Development</h1>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <img class="card-img-top" src="img/globalization.jpg">
                <div class="card-body">
                <h1>Globalization</h1>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <img class="card-img-top" src="img/pollution.jpg">
                <div class="card-body">
                <h1>Pollution</h1>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <img class="card-img-top" src="img/sollution.jpg">
                <div class="card-body">
                <h1>Solution</h1>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <img class="card-img-top" src="img/imagine-the-future.jpg">
                <div class="card-body">
                <h1>Imagine the future</h1>
                </div>
            </div>
        </div>
    </div>
    </div>
    <hr>
